* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.container {

  max-width: 1164px;
  margin: auto;
}
.Modeing {
  background-color: var(--bg-color);
}


body {

  place-items: unset;
  text-align: center;
  display: unset;
  font-family: 'Poppins', sans-serif;

}

.main {
  display: flex;
  flex-direction: column;
}


/* header */

.left-head {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--head-clr);
  padding: 1% 2%;
  position: fixed;
  width: 96%;
  z-index: 1;

}

.log-btn {
  display: flex;
  gap: 1rem;

}

.btn-nav button {
  background: none;
  border-color: rgb(13 188 93);
  color: rgb(13 188 93);
}

.btn-nav2 button {
  color: white;
  background: rgb(13 188 93);
}

.anchor {
  display: flex;
  gap: 1.5rem;
  width: 20%;
}

.logo-side {
  width: 10%;
}

.mid-head {
  width: 26%;
  display: inline-flex;
  gap: 50px;
}

.right-head {
  width: 20%;
}

p.para {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-para);
  font-size: 14px;
}

.anchor a {
  color: var(--main-para);
}

.main-side {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 35px;
  height: 1.5px;
  background: var(--line-clr);
}

.line-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--main-heading);
  text-align: left;
  padding: 5% 0%;
}

.left-banner p.para {
  text-align: left;
}

section.banner {
  padding: 10% 3% 3% 3%;
}
.pay-cont {
  display: flex;
  background: var(--pay-clr);
  gap: 25px;
  padding: 10px 10px;
  border-radius: 12px;
}

span.pay {
  color: var(--pay-color);
  font-weight: 500;
  font-size: .75rem;
}

.pay-imgs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.play-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5% 0;
}


/* header */

/* avial */
.Images-flex {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

h2 {
  font-size: 2.25rem;
  padding: 2% 0;
  line-height: 2.5rem;
  TEXT-ALIGN: justify;
  font-family: sans-serif;
  COLOR: var(--sec-head);
}

.left-Avail p.para {
  text-align: left;
  max-width: 575px;
  padding-bottom: 3%;
}

.line-cont span {
  color: var(--line-span);
  font-size: 20px;
}

.bottom-cont {
  text-align: justify;
}

.bottom-image {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

span.grey {
  color: var(--main-para);
}

.bottom-cont {
  padding: 5% 0;
}

.Embrace {
  background-image: url(/world.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  padding: 6% 0 1% 0;
}

.Count {
  display: flex;
  justify-content: space-between;
}

.Count ul {
  width: 22%;
}

.Ramp-cont {
  background: var(--Ramp-bg);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 28px;
}

h2.cent {
  text-align: center;
  max-width: 635px;
  margin: auto;
}

section.Ramp {
  padding-bottom: 4%;
}

.Embrace .line-cont {
  justify-content: center;
}

.Chain {
  display: flex;
  flex-wrap: wrap;
}

section.Chains .line-cont {
  justify-content: center;
}

.Currency-cont {
  display: flex;
  align-items: center;
  color: white;
  gap: 8px;
  flex-wrap: wrap;
  width: 89px;
  padding: 10px 0;
  background: var(--pay-clr);
  border: 1px solid var(--cur-border);
  justify-content: center;
  border-radius: 12px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
}

section.Currency .hero {
  margin: 0 7px;
  margin-top: 21px;
}

section.Currency .line-cont {
  justify-content: center;
}

section.Currency .line-cont {
  justify-content: center;
}

.btn-Currency {
  padding-top: 4%;
}

.btn-Currency button {
  background: rgb(13 188 93);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.3% 5.7% 1.3% 5.7%;
}

button.foot-btn {
  background: #0dbc5d;
  padding: .5rem;
  border-radius: 14px;
  display: flex;
}

.main-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer {
  display: inline-flex;
  gap: 10px;
  color: white;
}

input[type="email"] {
  padding: 4% 50% 4% 3%;
  background: transparent;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ABB0B2;
}

button.foot-btn {
  background: #0dbc5d;
  padding: .5rem;
  border-radius: 14px;
  display: flex;
  position: absolute;
  right: 2px;
  margin-top: 4px;
}

.input-cont {
  display: flex;
  position: relative;
  width: 23%;
}

footer {
  padding: 1% 6% 1.5% 0%;
  background: black;
}

.main-foot-logo {
  width: 25%;
}

.foot-icons {
  width: 25%;
  text-align: right;
}

.policy-anchor {
  width: 30%;
}

.policy-anchor a {
  color: grey;
  padding-right: 20px;
  font-size: 14px;
}

.Copyright-text {
  width: 24%;
}

.foot-icons {
  width: 25%;
  text-align: right;
}

span.copy {
  color: white;
  font-size: 14px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 1% 6% 2% 6%;
  border-top: 1px solid gray;
  background: black;

}

section.Currency {
  padding: 4% 0;
}

.Global-main-cont p.para {
  padding-top: 10px;
}

.Global-main-cont h3 {
  font-size: 20px;
  max-width: 180px;
  color: var(--line-span);
  line-height: 32px;
  font-family: 'Poppins';
  font-weight: 400;
}

.Global-cont {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.Global-main-cont {
  background: var(--join-clr);
  text-align: left;
  min-height: 375px;
  max-width: 270px;
  border-radius: 30px;
  padding: 1rem;

}

.Global-main-cont img {
  width: 6rem;
}

.glob-cont {
  padding-top: 6rem;
  position: relative;
  z-index: 0;
}

.Global-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Global-line span {
  COLOR: var(--line-span);
}

section.global {
  padding: 4% 0;
}

.Global-main-cont.linesbg-1 {
  overflow: hidden;
  position: relative;
}
.Global-main-cont.linesbg-2 {
  overflow: hidden;
  position: relative;
}
.Global-main-cont.linesbg-3 {
  overflow: hidden;
  position: relative;
}
.Global-main-cont.linesbg-4 {
  overflow: hidden;
  position: relative;
}


.Global-main-cont.linesbg-1::before {
  background: url(/public/id1bg.png);
  position: absolute;
  background-repeat: no-repeat;
  content: ''

}
.Global-main-cont.linesbg-1::before {
  background: url(/public/id1bg.png);
  position: absolute;
  background-repeat: no-repeat;
  content: '';
  width: 277px;
  height: 356px;
  left: 0;
  background-position: 100% 100%;
  background-size: cover;
}
.Global-main-cont.linesbg-2::before {
  background: url(/public/bgframe2.png);
  position: absolute;
  background-repeat: no-repeat;
  content: '';
  width: 270px;
  height: 439px;
  TOP: 0;
  background-position: 100% 100%;
  background-size: cover;
}
.Global-main-cont.linesbg-3::before {
  background: url(/public/bgframe3.png);
  position: absolute;
  background-repeat: no-repeat;
  content: '';
  width: 264px;
  height: 394px;
  top: 0;
  left: 0;
  background-position: 100% 100%;
  background-size: cover;
}
.Global-main-cont.linesbg-4::before {
  background: url(/public/bgframe4.png);
  position: absolute;
  background-repeat: no-repeat;
  content: '';
  width: 251px;
  height: 406px;
  top: 0;
  background-position: 100% 100%;
  background-size: cover;
}
.Global-main-cont img {
  position: relative;
}
.foot-icons img {
  padding-left: 10px;
} 

/* dark light theme */

.dark-theme{

  --main-heading:white;
  --main-para:rgb(245 247 250 / 60%);
  --pay-color:rgb(245 247 250 / 70%);
  --line-span:white;
  --bg-color:rgb(3 19 27);
  --head-clr:#16252C;
  --join-clr:#28353d;
  --line-clr:white;
  --pay-clr:#101F27;
  --cur-border:#fff6;
  --sec-head:white;
  --ramp-clr:rgb(245 247 250);
  --ramp-color:rgb(245 247 250 / 60%);
  --Ramp-bg:#17252D;


}


.light-theme{

  --main-heading:black;
  --main-para:rgb(3 19 27 / 60%); 
  --line-span:black;
  --bg-color:rgb(245 247 250);
  --head-clr:rgb(236 241 249);
  --join-clr:white;
  --line-clr:black;
  --pay-clr:rgb(3 19 27 / 4%);
  --pay-color:rgb(3 19 27 / 70%);
  --cur-border:#03131b66;
  --sec-head:black;
  --ramp-clr:rgb(3 19 27);
  --ramp-color:rgb(3 19 27 / 60%)  ; 
  --Ramp-bg:white;
  

}

/* dark light theme */

.Currency-cont h3 {

color: var(--line-span);
}
section.Ramp .Ramp-cont span {

  color: var(--ramp-clr);

}
section.Ramp .Ramp-cont .para {

  color: var(--ramp-color);

}
/* avial */